@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

body {
  font-family: 'Mali', cursive;
  text-align: center;  
}

h3{
  color: #2A2C2B;
  margin-bottom: -20px;
  font-size: 100px;
      animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        font-size: 0px;
        
    }

     50% {
         font-size: 112px;
    
     }


    100% {
         font-size: 30px;
     
     }
}

.non{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  opacity: 0;
  animation: fadeIn ease 1.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}


@keyframes fadeIn {
    0% {
        opacity: 1;

        
    }


     50% {
         opacity: 0;
    
     }

    100% {
         opacity: 1;
     
     }
}

#main{
    opacity: 0.2;

}

#main span {
  color: #25a687;
  font-weight: bold;
 animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: alternate;
}

@keyframes slide {
    0% {
        opacity: 1;
        transform: translateX(10px);
        
    }


     50% {
         opacity: 0;
    
     }

    100% {
         opacity: 1;
     
     }
}

button{
    float: left;
    vertical-align: text-top;
    font-size: 20px;
    background: ;
}




